# Data Types

In [2]:

list1 = [1,2,3,4,5]
list2 = [10.2,20.1,30.3,40.0,50.21]
list3 = ['Nitin', 'Datta', 'Rahul', 'Padmaja']
list4 = [1,10.2,'Nitin']

print(list1)
print(list2)
print(list3)
print(list4)

print(type(list1))
type(list1)

[1, 2, 3, 4, 5]
[10.2, 20.1, 30.3, 40.0, 50.21]
['Nitin', 'Datta', 'Rahul', 'Padmaja']
[1, 10.2, 'Nitin']
<class 'list'>

list

In [3]:


print(list1[0])
print(list2[1])
print(list3[0])
print(list1)
print(list2)
print(list3)
print(list4)

print("************")
print(list1)
list1[1]

1
20.1
Nitin
[1, 2, 3, 4, 5]
[10.2, 20.1, 30.3, 40.0, 50.21]
['Nitin', 'Datta', 'Rahul', 'Padmaja']
[1, 10.2, 'Nitin']
************
[1, 2, 3, 4, 5]

2

# 1. List

Lists are used to store multiple items in a single variable.

In [4]:
list2[0: 10]

[10.2, 20.1, 30.3, 40.0, 50.21]

In [5]:
print('length of list1:')
print(len(list1))


len(list3)

length of list1:
5

4

In [6]:


print(list1)
list1.append("sagar")
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'sagar']

In [7]:
print(list1)
list1.remove("sagar")
print(list1)

[1, 2, 3, 4, 5, 'sagar']
[1, 2, 3, 4, 5]

In [8]:
print(list1)
list1.remove(3)
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [9]:
print(list1)
list1.append(6)
print(list1)

[1, 2, 4, 5]
[1, 2, 4, 5, 6]

In [10]:


print(list1)
list1[2:4] = ['Nitin_1', 'Rahul_1']
print(list1)

[1, 2, 4, 5, 6]
[1, 2, 'Nitin_1', 'Rahul_1', 6]

In [12]:
print(len(list1))
#list1[9] = 'vip'
print(list1)

5
[1, 2, 'Nitin_1', 'Rahul_1', 6]

# 2. Tuple

Tuples are used to store multiple items in a single variable.

In [14]:
tup = ("apple",'apple', "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tup)

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [16]:
print(len(tup))
tup.count('apple')
tup.index('banana')

8

2

In [17]:
tup1 = ("apple")
print(type(tup1))

tup1 = ("apple",)
print(type(tup1))

<class 'str'>
<class 'tuple'>

In [18]:
tup2 = ("abc", 34, True, 40, "male")
print(tup2)

('abc', 34, True, 40, 'male')

In [19]:
tup3 = tuple((10,20,30)) # tuple() constructor
print(tup3)

(10, 20, 30)

In [20]:
print(tup)
tup[-2]

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

'melon'

In [21]:
# change tuple value using list
# Do here
print(tup)
print(type(tup))
var = list(tup)
print(var)
print(type(var))

# change value

var[2] = 'potato'
print(var)

# convert back to tuple

tup = tuple(var)
print(tup)

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
<class 'tuple'>
['apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
<class 'list'>
['apple', 'apple', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
('apple', 'apple', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [22]:
# Use of asterisk
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [23]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [24]:
# Methods: count() and index()
print(tup)
cnt = tup.count('tomato')
print(cnt)

print(tup)
ind = tup.index('potato')
print(ind)

('apple', 'apple', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
0
('apple', 'apple', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
2

# 3.Set

In [26]:
s = {1,2,3,'sagar', 'nitin', 'cherry'}
print(s)
print(type(s))


print(len(s))

{1, 2, 3, 'nitin', 'sagar', 'cherry'}
<class 'set'>
6

In [27]:
# set() constructor
set1 = set(("apple", "banana", "cherry"))
print(set1)
print(type(set1))

{'banana', 'cherry', 'apple'}
<class 'set'>

In [28]:


# accessing set
val= "banana" in s

print(val)

print(1 in s)

False
True

In [29]:


# once set is created u can not change elements value, 
# but u can add values
print(set1)
set1.add('orange')
print(set1)

{'banana', 'cherry', 'apple'}
{'banana', 'cherry', 'orange', 'apple'}

In [30]:
# using update you can add any iterable items like set, list,tuple, dict-keys
set2 = {"pineapple", "mango", "papaya"}
#dict1 = {'a': 97}
tup = (1,2,3)

set1.update(set2)
print(set1)
set1.update(tup)

print(set1)

{'apple', 'mango', 'papaya', 'orange', 'pineapple', 'cherry', 'banana'}
{1, 2, 'mango', 3, 'orange', 'apple', 'cherry', 'banana', 'papaya', 'pineapple'}

In [31]:


# remove(), discard(), pop()
print("Remove using remove():\n",set1)
#set1.remove('banana')
print(set1)

print("Remove using discard():\n",set1)
set1.discard(2)
print(set1)

print("Remove using pop():\n",set1)
res = set1.pop()
print(set1)
print(res)

Remove using remove():
 {1, 2, 'mango', 3, 'orange', 'apple', 'cherry', 'banana', 'papaya', 'pineapple'}
{1, 2, 'mango', 3, 'orange', 'apple', 'cherry', 'banana', 'papaya', 'pineapple'}
Remove using discard():
 {1, 2, 'mango', 3, 'orange', 'apple', 'cherry', 'banana', 'papaya', 'pineapple'}
{1, 'mango', 3, 'orange', 'apple', 'cherry', 'banana', 'papaya', 'pineapple'}
Remove using pop():
 {1, 'mango', 3, 'orange', 'apple', 'cherry', 'banana', 'papaya', 'pineapple'}
{'mango', 3, 'orange', 'apple', 'cherry', 'banana', 'papaya', 'pineapple'}
1

In [32]:
# union

# adds elements of two sets and create new set

print(s)
print()
s1 = s.union(set1)
print(s1)

# update method word for union only but adds element to calling set

{1, 2, 3, 'nitin', 'sagar', 'cherry'}

{1, 2, 3, 'mango', 'papaya', 'nitin', 'sagar', 'orange', 'apple', 'pineapple', 'cherry', 'banana'}

In [33]:


#
print(s)
print(set1)
intr = s.intersection(set1)
print("itersection:\n",intr)

# keeps duplicates in s1 
s.intersection_update(set1)
print("itersection Update:\n",s)

{1, 2, 3, 'nitin', 'sagar', 'cherry'}
{'mango', 3, 'orange', 'apple', 'cherry', 'banana', 'papaya', 'pineapple'}
itersection:
 {'cherry', 3}
itersection Update:
 {'cherry', 3}

In [34]:
# keeps elements which are not present in other set
s_1 ={1,2,3,4,5,6}
s_2 = {3,5,7,8,9}

print(s)
print(set1)
#s.symmetric_difference_update(set1)

print(s) 


# returns new set

print("Symmetric Difference:\n")

k = s_1.symmetric_difference(s_2) 
# return elements which are present in s_1 not in s_2 + present in s_2 but not in s_1
v = s_1.difference(s_2) 
# returns new set with elements present in s_1 but not in s_2
print("Symmetric difference:\n",k)
print("difference:\n",v)

{'cherry', 3}
{'mango', 3, 'orange', 'apple', 'cherry', 'banana', 'papaya', 'pineapple'}
{'cherry', 3}
Symmetric Difference:

Symmetric difference:
 {1, 2, 4, 6, 7, 8, 9}
difference:
 {1, 2, 4, 6}

# frozenset

In [35]:
# frozen set is same as set but it is immutable

print(type(set1))
s = frozenset(set1)
print(s)
print(type(s))
# supported methods for frozen set

s1 = s.copy()
'''
s.difference()
s.intersection()
s.isdisjoint()
s.issubset()
s.issuperset()
s.symmetric_difference()
s.union()
'''
print(s1)
print(type(s1))

<class 'set'>
frozenset({'mango', 3, 'papaya', 'orange', 'apple', 'pineapple', 'cherry', 'banana'})
<class 'frozenset'>
frozenset({'mango', 3, 'papaya', 'orange', 'apple', 'pineapple', 'cherry', 'banana'})
<class 'frozenset'>

# Dictionary

In [36]:
d = {
    1: 'a',
    2: 'b',
    3: 'c'   
    }

dict1 = {
    'name' : 'Nitn',
    'mobile' : 9975923975,
    'address' : 'sangola',
    'job' : 'Data',
    'salary' : 550000.20,
    1 : 10000
    
}
print(d)

print(type(dict1))

{1: 'a', 2: 'b', 3: 'c'}
<class 'dict'>

In [37]:


print(dict1['name'])
dict1['mobile']
dict1['job']
print(d)
d[3]

Nitn
{1: 'a', 2: 'b', 3: 'c'}

'c'

In [38]:


# accesing elemnts

print(dict1['salary'])

s = dict1.get('job')
print(s)
dict1['address']
dict1.get('salary')


print(d[2])
r = d.get(3)
print(r)

550000.2
Data
b
c

In [39]:


print(dict1.keys())
dict1.values()

d.keys()
d.values()

dict_keys(['name', 'mobile', 'address', 'job', 'salary', 1])

dict_values(['a', 'b', 'c'])

In [40]:


# add new item
dict1['c_address'] = 'Pune'


dict1['alt_mo'] = 7778778899
print(dict1.keys())
print(dict1.values())



dict1['email'] = 'nitin@gmail.com'
print(dict1.keys())
print(dict1.values())

d[4] = 'd'

print(d)

dict_keys(['name', 'mobile', 'address', 'job', 'salary', 1, 'c_address', 'alt_mo'])
dict_values(['Nitn', 9975923975, 'sangola', 'Data', 550000.2, 10000, 'Pune', 7778778899])
dict_keys(['name', 'mobile', 'address', 'job', 'salary', 1, 'c_address', 'alt_mo', 'email'])
dict_values(['Nitn', 9975923975, 'sangola', 'Data', 550000.2, 10000, 'Pune', 7778778899, 'nitin@gmail.com'])
{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [41]:
# values
print(dict1.values())

dict_values(['Nitn', 9975923975, 'sangola', 'Data', 550000.2, 10000, 'Pune', 7778778899, 'nitin@gmail.com'])

In [42]:
dict1.items()
print(d)
d.items()

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

dict_items([(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')])

In [43]:
# change value
#print(dict1)
dict1['height'] = 180
#print(dict1)

print(d)
d[3] = 'cc'
d.values()

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

dict_values(['a', 'b', 'cc', 'd'])

In [44]:
grandson = {
    'g_name':'Grand_son_name'
}
son = {
     's_key' : grandson,
    's_name': 'Son_name',
}


parent = {
    'p_key' : son,
    'p_name': 'Parent_name',
    
         }


family = {
    'f_key' : parent, 
}

print(family)

{'f_key': {'p_key': {'s_key': {'g_name': 'Grand_son_name'}, 's_name': 'Son_name'}, 'p_name': 'Parent_name'}}

In [45]:


# access parent directory
family['f_key']

{'p_key': {'s_key': {'g_name': 'Grand_son_name'}, 's_name': 'Son_name'},
 'p_name': 'Parent_name'}

In [46]:
# access grand child
family['f_key']['p_key']['s_key']

{'g_name': 'Grand_son_name'}

In [47]:
family['f_key']['p_key']['s_key']['g_name']

'Grand_son_name'