# Python arrays

Arrays are used to store multiple values in one single variable:

In [1]:
cars = ["Ford", "Volvo", "BMW"] 
#index
x = cars
print(x)

# you can also change the value of an index

x = cars[0]="CAS"
print(cars)

#length
x = len(cars)
print(x)

['Ford', 'Volvo', 'BMW']
['CAS', 'Volvo', 'BMW']
3

Looping Array Elements

In [2]:
for x in cars:
  print(x)

CAS
Volvo
BMW

In [3]:
#Adding Array Elements: (append)

cars = ["Ford", "Volvo", "BMW"] 
cars.append("T20")
print(cars)

['Ford', 'Volvo', 'BMW', 'T20']

In [5]:
#Removing Array Elements: pop()

x=cars.pop(1)
print(x)
print(cars)

BMW
['Ford', 'T20']

In [7]:
#Deleting Array Elements :remove()
cars = ["Ford", "Volvo", "BMW"] 
cars.remove("BMW")
print(cars)

['Ford', 'Volvo']

In [10]:
#Remove all elements from the fruits list: clear()
fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()

print(fruits)

[]

In [13]:
#Copy the fruits list: copy()
fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()
print(x)

['apple', 'banana', 'cherry', 'orange']

In [15]:
#Return the number of times the value "cherry" appears in the fruits list: count()
fruits = ['apple', 'banana', 'cherry','cherry']

x = fruits.count("cherry")
print(x)

2

In [17]:
#What is the position of the value "cherry": index()
fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry") 
print(x)

2

In [22]:
#Insert the value "orange" as the second element of the fruit list: insert()
fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [24]:
#Sort the list alphabetically: sort()
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

print(cars)

['BMW', 'Ford', 'Volvo']

In [25]:
#Reverse the order of the fruit list:   reverse()
fruits = ['apple', 'banana', 'cherry']

fruits.reverse() 
print(fruits)

['cherry', 'banana', 'apple']